 /* Chat containers */
 .chatMessage {
   border: 2px solid #dedede;
   background-color: #f1f1f1;
   border-radius: 5px;
   padding: 10px;
   margin: 10px 0;
   display: flex;
 }

 .chatMessage p {
   padding-right: 4px;
   word-wrap: keep-all;
 }

 .chatMessage .msg {
   word-wrap: break-word;
 }
